.enlace:hover {
    background-color: #000000;
    color: #fff;
    border-color: transparent;
}

.w-3\.5 {
    width: 29.875rem;
}
.w-96 {
    width: 41rem;
}

.pb-8 {
    padding-bottom: 8rem;
}

/* VIDEO */
