.enlace:hover {
    background-color: #000000;
    color: #fff;
    border-color: transparent;
}

/* MEDIA QUERY DE FOOTER */

@media (max-width: 640px) {
        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }
        .w-full {
            width: 100%;
        }
        .md\:w-1\/4 {
            width: 100%;
        }
        .md\:w-1\/2 {
            width: 100%;
        }
        .mb-6 {
            margin-bottom: 1.5rem;
        }
        .mb-4 {
            margin-bottom: 1rem;
        }

        .logo {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }


